In [92]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv('C:\\Users\\priya\\Downloads\\archive (5)\\bottle.csv')

C:\Users\priya\AppData\Local\Temp\ipykernel_23524\1194508237.py:1: DtypeWarning: Columns (47,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\priya\\Downloads\\archive (5)\\bottle.csv')

In [94]:
df.head()

,Cst_Cnt,Btl_Cnt,Sta_ID,Depth_ID,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1,DIC Quality Comment
0,1,1,054.0 056.0,19-4903CR-HY-060-0930-05400560-0000A-3,0,10.50,33.440,NaN,25.649,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,054.0 056.0,19-4903CR-HY-060-0930-05400560-0008A-3,8,10.46,33.440,NaN,25.656,NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,054.0 056.0,19-4903CR-HY-060-0930-05400560-0010A-7,10,10.46,33.437,NaN,25.654,NaN,...,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,054.0 056.0,19-4903CR-HY-060-0930-05400560-0019A-3,19,10.45,33.420,NaN,25.643,NaN,...,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,054.0 056.0,19-4903CR-HY-060-0930-05400560-0020A-7,20,10.45,33.421,NaN,25.643,NaN,...,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 74 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cst_Cnt              864863 non-null  int64
 1   Btl_Cnt              864863 non-null  int64
 2   Sta_ID               864863 non-null  object
 3   Depth_ID             864863 non-null  object
 4   Depthm               864863 non-null  int64
 5   T_degC               853900 non-null  float64
 6   Salnty               817509 non-null  float64
 7   O2ml_L               696201 non-null  float64
 8   STheta               812174 non-null  float64
 9   O2Sat                661274 non-null  float64
 10  Oxy_µmol/Kg          661268 non-null  float64
 11  BtlNum               118667 non-null  float64
 12  RecInd               864863 non-null  int64
 13  T_prec               853900 non-null  float64
 14  T_qual               23127 non-null   float64
 15  S_prec               817509 non-null  float64
 16  S_qual               74914 non-null   float64
 17  P_qual               673755 non-null  float64
 18  O_qual               184676 non-null  float64
 19  SThtaq               65823 non-null   float64
 20  O2Satq               217797 non-null  float64
 21  ChlorA               225272 non-null  float64
 22  Chlqua               639166 non-null  float64
 23  Phaeop               225271 non-null  float64
 24  Phaqua               639170 non-null  float64
 25  PO4uM                413317 non-null  float64
 26  PO4q                 451786 non-null  float64
 27  SiO3uM               354091 non-null  float64
 28  SiO3qu               510866 non-null  float64
 29  NO2uM                337576 non-null  float64
 30  NO2q                 529474 non-null  float64
 31  NO3uM                337403 non-null  float64
 32  NO3q                 529933 non-null  float64
 33  NH3uM                64962 non-null   float64
 34  NH3q                 808299 non-null  float64
 35  C14As1               14432 non-null   float64
 36  C14A1p               12760 non-null   float64
 37  C14A1q               848605 non-null  float64
 38  C14As2               14414 non-null   float64
 39  C14A2p               12742 non-null   float64
 40  C14A2q               848623 non-null  float64
 41  DarkAs               22649 non-null   float64
 42  DarkAp               20457 non-null   float64
 43  DarkAq               840440 non-null  float64
 44  MeanAs               22650 non-null   float64
 45  MeanAp               20457 non-null   float64
 46  MeanAq               840439 non-null  float64
 47  IncTim               14437 non-null   object
 48  LightP               18651 non-null   float64
 49  R_Depth              864863 non-null  float64
 50  R_TEMP               853900 non-null  float64
 51  R_POTEMP             818816 non-null  float64
 52  R_SALINITY           817509 non-null  float64
 53  R_SIGMA              812007 non-null  float64
 54  R_SVA                812092 non-null  float64
 55  R_DYNHT              818206 non-null  float64
 56  R_O2                 696201 non-null  float64
 57  R_O2Sat              666448 non-null  float64
 58  R_SIO3               354099 non-null  float64
 59  R_PO4                413325 non-null  float64
 60  R_NO3                337411 non-null  float64
 61  R_NO2                337584 non-null  float64
 62  R_NH4                64982 non-null   float64
 63  R_CHLA               225276 non-null  float64
 64  R_PHAEO              225275 non-null  float64
 65  R_PRES               864863 non-null  int64
 66  R_SAMP               122006 non-null  float64
 67  DIC1                 1999 non-null    float64
 68  DIC2                 224 non-null     float64
 69  TA1                  2084 non-null    float64
 70  TA2                  234 non-null     float64
 71  pH2                  10 non-null      float64
 72  pH1                  84 non-null      float64
 73  DIC Quality Comment  55 non-null      object
dtypes: float64(65), int64(5), object(4)
memory usage: 488.3+ MB

In [96]:
columns_with_missing_values = df.columns[df.isnull().any()]

In [97]:
columns_with_missing_values

Index(['T_degC', 'Salnty', 'O2ml_L', 'STheta', 'O2Sat', 'Oxy_µmol/Kg',
       'BtlNum', 'T_prec', 'T_qual', 'S_prec', 'S_qual', 'P_qual', 'O_qual',
       'SThtaq', 'O2Satq', 'ChlorA', 'Chlqua', 'Phaeop', 'Phaqua', 'PO4uM',
       'PO4q', 'SiO3uM', 'SiO3qu', 'NO2uM', 'NO2q', 'NO3uM', 'NO3q', 'NH3uM',
       'NH3q', 'C14As1', 'C14A1p', 'C14A1q', 'C14As2', 'C14A2p', 'C14A2q',
       'DarkAs', 'DarkAp', 'DarkAq', 'MeanAs', 'MeanAp', 'MeanAq', 'IncTim',
       'LightP', 'R_TEMP', 'R_POTEMP', 'R_SALINITY', 'R_SIGMA', 'R_SVA',
       'R_DYNHT', 'R_O2', 'R_O2Sat', 'R_SIO3', 'R_PO4', 'R_NO3', 'R_NO2',
       'R_NH4', 'R_CHLA', 'R_PHAEO', 'R_SAMP', 'DIC1', 'DIC2', 'TA1', 'TA2',
       'pH2', 'pH1', 'DIC Quality Comment'],
      dtype='object')

In [98]:
dataset = df[['T_degC', 'Salnty']]

In [99]:
dataset

        T_degC   Salnty
0       10.500  33.4400
1       10.460  33.4400
2       10.460  33.4370
3       10.450  33.4200
4       10.450  33.4210
...        ...      ...
864858  18.744  33.4083
864859  18.744  33.4083
864860  18.692  33.4150
864861  18.161  33.4062
864862  17.533  33.3880

[864863 rows x 2 columns]

In [100]:
dataset.isna().sum()

T_degC    10963
Salnty    47354
dtype: int64

In [101]:
df_without_nulls = dataset.dropna(axis=0)

In [102]:
# Impute missing values
from sklearn.impute import SimpleImputer

numeric_columns = ['T_degC', 'Salnty']
imputer = SimpleImputer(strategy='mean')

dataset_copy = dataset.copy()

dataset_copy.loc[:, numeric_columns] = imputer.fit_transform(dataset_copy[numeric_columns])

dataset.update(dataset_copy)

In [103]:
#summary statistics after imputation
print(dataset[numeric_columns].describe())

              T_degC         Salnty
count  864863.000000  864863.000000
mean       10.799677      33.840350
std         4.216841       0.449022
min         1.440000      28.431000
25%         7.720000      33.504000
50%        10.130000      33.840350
75%        13.830000      34.180000
max        31.140000      37.034000

In [104]:
#missing values after imputation
print(dataset[numeric_columns].isnull().sum())

T_degC    0
Salnty    0
dtype: int64

In [105]:
#Removing Outliers
numeric_columns = ['T_degC', 'Salnty']

# Calculate the IQR for each numeric column
Q1 = dataset[numeric_columns].quantile(0.25)
Q3 = dataset[numeric_columns].quantile(0.75)
IQR = Q3 - Q1
outlier_threshold = 1.5

#boolean mask for outliers
outlier_mask = ((dataset[numeric_columns] < (Q1 - outlier_threshold * IQR)) | (dataset[numeric_columns] > (Q3 + outlier_threshold * IQR)))

In [106]:
#summary statistics after removing outliers
print(dataset[numeric_columns].describe())

#missing values after removing outliers
print(dataset[numeric_columns].isnull().sum())

              T_degC         Salnty
count  864863.000000  864863.000000
mean       10.799677      33.840350
std         4.216841       0.449022
min         1.440000      28.431000
25%         7.720000      33.504000
50%        10.130000      33.840350
75%        13.830000      34.180000
max        31.140000      37.034000
T_degC    0
Salnty    0
dtype: int64

In [108]:
from sklearn.preprocessing import StandardScaler

numeric_features = ['Salnty']
scaler = StandardScaler()

# Create a copy to avoid SettingWithCopyWarning
dataset_copy = dataset.copy()

# Use .loc for proper assignment
dataset.loc[:, numeric_features] = scaler.fit_transform(dataset_copy[numeric_features])

In [109]:
#summary statistics of scaled features
print(dataset[numeric_features].describe())

             Salnty
count  8.648630e+05
mean  -2.155791e-17
std    1.000001e+00
min   -1.204698e+01
25%   -7.490741e-01
50%   -1.954693e-14
75%    7.564221e-01
max    7.112466e+00

In [110]:
#'X' is dependent and 'y' is target variable
X = dataset.drop('T_degC', axis=1)
y = dataset['T_degC']

#Splitting the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [111]:
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (691890, 1)
X_test shape: (172973, 1)
y_train shape: (691890,)
y_test shape: (172973,)

In [112]:
print("X_train sample:")
print(X_train.head())

print("X_test sample:")
print(X_test.head())

print("y_train sample:")
print(y_train.head())

print("y_test sample:")
print(y_test.head())

X_train sample:
              Salnty
87031  -1.954693e-14
42195   1.155067e+00
478241  2.595978e+00
253676 -2.680280e-01
34     -1.337019e+00
X_test sample:
          Salnty
246454  1.446812
204226  1.714060
34578   0.959085
63034   1.825413
275018 -0.446193
y_train sample:
87031      4.30
42195      4.61
478241    14.07
253676    10.21
34         9.06
Name: T_degC, dtype: float64
y_test sample:
246454    10.25
204226     3.76
34578      5.27
63034      9.93
275018     9.36
Name: T_degC, dtype: float64

In [113]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression

In [114]:
param_grid = {
    'fit_intercept': [True, False],
    'copy_X': [True, False],
}
linear_regression_model = LinearRegression()
grid_search = GridSearchCV(
    linear_regression_model,
    param_grid,  
    scoring='neg_mean_squared_error',  
    cv=5  
)

In [115]:
# Fit the grid search to the data
grid_search.fit(X_train_scaled, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_

best_model = grid_search.best_estimator_

# Print the best hyperparameters
print(f'Best Hyperparameters: {best_params}')

# Access the best average cross-validated score
best_score = grid_search.best_score_
print("Best Score:", best_score)
print("Best Model:", best_model)

Best Hyperparameters: {'copy_X': True, 'fit_intercept': True}
Best Score: -13.516865222287393
Best Model: LinearRegression()

In [116]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
from sklearn.metrics import mean_squared_error, r2_score
# Creating and training the Linear Regression model with best hyperparameters
best_linear_regression_model = LinearRegression(copy_X=True, fit_intercept=True)
best_linear_regression_model.fit(X_train_scaled, y_train)

# Making predictions on the test set
y_pred = best_linear_regression_model.predict(X_test_scaled)

# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 13.497756716713758
R-squared: 0.23909275107658967

In [117]:
#Model evaluation and selection

In [118]:
from sklearn.metrics import mean_absolute_error

# Calculating(MAE)
mae = mean_absolute_error(y_test, y_pred)

# Print MAE
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 2.6859964705515633
Mean Squared Error: 13.497756716713758
R-squared: 0.23909275107658967

In [119]:
from sklearn.model_selection import cross_val_score, KFold

num_folds = 5

# Creating KFold object
kf = KFold(n_splits=num_folds, shuffle=True, random_state=42)

# Performing k-fold cross-validation
cross_val_results = cross_val_score(linear_regression_model, X_train_scaled, y_train, cv=kf, scoring='neg_mean_squared_error')

cross_val_results = -cross_val_results

# Printing cross-validation results
print(f'Cross-Validation Results (MSE): {cross_val_results}')
print(f'Mean Cross-Validation MSE: {cross_val_results.mean()}')

Cross-Validation Results (MSE): [13.27632552 13.57679859 13.4415977  13.70532582 13.58489948]
Mean Cross-Validation MSE: 13.516989421744878

In [120]:
from sklearn.model_selection import cross_val_score, KFold

num_folds = 10

# Creating KFold object
kf = KFold(n_splits=num_folds, shuffle=True, random_state=42)

# Performing k-fold cross-validation
cross_val_results = cross_val_score(linear_regression_model, X_train_scaled, y_train, cv=kf, scoring='neg_mean_squared_error')

cross_val_results = -cross_val_results

# Printing cross-validation results
print(f'Cross-Validation Results (MSE): {cross_val_results}')
print(f'Mean Cross-Validation MSE: {cross_val_results.mean()}')

Cross-Validation Results (MSE): [13.26275529 13.28920708 13.4765184  13.67707465 13.31625166 13.56736489
 13.66476654 13.74540424 13.67223611 13.49778628]
Mean Cross-Validation MSE: 13.51693651540084

In [121]:
best_model = LinearRegression(copy_X=True, fit_intercept=True)

# Fit the best model on training dataset
best_model.fit(X_train_scaled, y_train)

# predictions on the test set
y_pred_test = best_model.predict(X_test_scaled)

# Evaluate the performance on the test set
mse_test = mean_squared_error(y_test, y_pred_test)
r2_test = r2_score(y_test, y_pred_test)

# Print the evaluation metrics
print(f'Mean Squared Error on Test Set: {mse_test}')
print(f'R-squared on Test Set: {r2_test}')

# Justification for Model Selection
print("Selected Model: Linear Regression with Hyperparameter Tuning")

Mean Squared Error on Test Set: 13.497756716713758
R-squared on Test Set: 0.23909275107658967
Selected Model: Linear Regression with Hyperparameter Tuning

In [122]:
# Classification Modelling Analysis

<h1>Classification</h1>

In [123]:
df1 = pd.read_csv("C:\\Users\\priya\\Downloads\\archive (6)\\heart.csv")

In [124]:
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [125]:
df1 = df1[df1['ca'] < 4] #drop the wrong ca values
df1 = df1[df1['thal'] > 0] # drop the wong thal value
print(f'The length of the df1 now is {len(df1)} instead of 303!')

The length of the df1 now is 296 instead of 303!

In [34]:
df1 = df1.rename(
    columns = {'cp':'chest_pain_type', 
               'trestbps':'resting_blood_pressure', 
               'chol': 'cholesterol',
               'fbs': 'fasting_blood_sugar',
               'restecg' : 'resting_electrocardiogram', 
               'thalach': 'max_heart_rate_achieved', 
               'exang': 'exercise_induced_angina',
               'oldpeak': 'st_depression', 
               'slope': 'st_slope', 
               'ca':'num_major_vessels', 
               'thal': 'thalassemia'}, 
    errors="raise")

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 296 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        296 non-null    int64
 1   sex                        296 non-null    int64
 2   chest_pain_type            296 non-null    int64
 3   resting_blood_pressure     296 non-null    int64
 4   cholesterol                296 non-null    int64
 5   fasting_blood_sugar        296 non-null    int64
 6   resting_electrocardiogram  296 non-null    int64
 7   max_heart_rate_achieved    296 non-null    int64
 8   exercise_induced_angina    296 non-null    int64
 9   st_depression              296 non-null    float64
 10  st_slope                   296 non-null    int64
 11  num_major_vessels          296 non-null    int64
 12  thalassemia                296 non-null    int64
 13  target                     296 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 34.7 KB

In [36]:
columns_with_missing_values = df1.columns[df1.isnull().any()]

In [37]:
columns_with_missing_values

Index([], dtype='object')

In [38]:
df1.isnull().sum()

age                          0
sex                          0
chest_pain_type              0
resting_blood_pressure       0
cholesterol                  0
fasting_blood_sugar          0
resting_electrocardiogram    0
max_heart_rate_achieved      0
exercise_induced_angina      0
st_depression                0
st_slope                     0
num_major_vessels            0
thalassemia                  0
target                       0
dtype: int64

In [39]:
# Calculate the IQR for each column
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)
IQR = Q3 - Q1

# Define a threshold to identify outliers (e.g., 1.5 times the IQR)
outlier_threshold = 1.5

# Find indices of outliers
outlier_indices = ((df1 < (Q1 - outlier_threshold * IQR)) | (df1 > (Q3 + outlier_threshold * IQR))).any(axis=1)

# Remove outliers
df1_no_outliers_iqr = df1[~outlier_indices]

# Display the shape before and after removing outliers
print("Shape before removing outliers:", df1.shape)
print("Shape after removing outliers using IQR method:", df1_no_outliers_iqr.shape)

Shape before removing outliers: (296, 14)
Shape after removing outliers using IQR method: (228, 14)

In [40]:
from sklearn.preprocessing import StandardScaler

# Extracting features (X) and target variable (y)
X = df1.drop('target', axis=1)
y = df1['target']

# Using StandardScaler for feature scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [41]:
X_scaled = StandardScaler().fit_transform(X)

# Check the first few rows of the scaled features
print(X_scaled[:5, :])

[[ 0.93721873  0.68748587  1.97643302  0.75693814 -0.27280094  2.42563825
  -0.99590459  0.01915184 -0.69816702  1.06558695 -2.26068168 -0.72383218
  -2.27053862]
 [-1.93756618  0.68748587  1.00784995 -0.09067985  0.05482062 -0.41226263
   0.90595192  1.63262072 -0.69816702  2.09607016 -2.26068168 -0.72383218
  -0.56041284]
 [-1.49529158 -1.45457536  0.03926688 -0.09067985 -0.83168477 -0.41226263
  -0.99590459  0.97851172 -0.69816702  0.29272454  0.97981119 -0.72383218
  -0.56041284]
 [ 0.16323818  0.68748587  0.03926688 -0.65575852 -0.21498537 -0.41226263
   0.90595192  1.24015532 -0.69816702 -0.22251707  0.97981119 -0.72383218
  -0.56041284]
 [ 0.27380683 -1.45457536 -0.92931619 -0.65575852  2.05909366 -0.41226263
   0.90595192  0.58604631  1.43232203 -0.39426427  0.97981119 -0.72383218
  -0.56041284]]

In [42]:
print(pd.DataFrame(X_scaled, columns=X.columns).describe())

                age         sex  chest_pain_type  resting_blood_pressure  \
count  2.960000e+02  296.000000       296.000000            2.960000e+02
mean   3.480699e-16    0.000000         0.000000           -6.001206e-16
std    1.001693e+00    1.001693         1.001693            1.001693e+00
min   -2.822115e+00   -1.454575        -0.929316           -2.124963e+00
25%   -7.213110e-01   -1.454575        -0.929316           -6.557585e-01
50%    1.632382e-01    0.687486         0.039267           -9.067985e-02
75%    7.160814e-01    0.687486         1.007850            4.743988e-01
max    2.485180e+00    0.687486         1.976433            3.864871e+00

        cholesterol  fasting_blood_sugar  resting_electrocardiogram  \
count  2.960000e+02         2.960000e+02               2.960000e+02
mean  -2.340470e-16         1.200241e-17              -9.601929e-17
std    1.001693e+00         1.001693e+00               1.001693e+00
min   -2.334890e+00        -4.122626e-01              -9.959046e-01
25%   -6.967818e-01        -4.122626e-01              -9.959046e-01
50%   -8.971830e-02        -4.122626e-01               9.059519e-01
75%    5.414350e-01        -4.122626e-01               9.059519e-01
max    6.106183e+00         2.425638e+00               2.807808e+00

       max_heart_rate_achieved  exercise_induced_angina  st_depression  \
count             2.960000e+02             2.960000e+02   2.960000e+02
mean              1.920386e-16             1.440289e-16  -9.601929e-17
std               1.001693e+00             1.001693e+00   1.001693e+00
min              -3.425822e+00            -6.981670e-01  -9.095059e-01
25%              -7.221717e-01            -6.981670e-01  -9.095059e-01
50%               1.281700e-01            -6.981670e-01  -2.225171e-01
75%               7.168681e-01             1.432322e+00   5.074085e-01
max               2.286730e+00             1.432322e+00   4.414657e+00

           st_slope  num_major_vessels   thalassemia
count  2.960000e+02       2.960000e+02  2.960000e+02
mean   1.440289e-16       2.400482e-17  1.680338e-16
std    1.001693e+00       1.001693e+00  1.001693e+00
min   -2.260682e+00      -7.238322e-01 -2.270539e+00
25%   -6.404352e-01      -7.238322e-01 -5.604128e-01
50%   -6.404352e-01      -7.238322e-01 -5.604128e-01
75%    9.798112e-01       3.421097e-01  1.149713e+00
max    9.798112e-01       2.473994e+00  1.149713e+00

In [47]:
from sklearn.model_selection import train_test_split

X = df1.drop('target', axis=1)  # Features
y = df1['target']  # Target variable

# Splitting the dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (236, 13)
X_test shape: (60, 13)
y_train shape: (236,)
y_test shape: (60,)

In [67]:
import numpy as np
from sklearn import linear_model, decomposition
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

X = df1.drop('target', axis=1)
y = df1['target']

std_slc = StandardScaler()
pca = decomposition.PCA()
logistic_Reg = linear_model.LogisticRegression()

pipe = Pipeline(steps=[('std_slc', std_slc),
                        ('pca', pca),
                        ('logistic_Reg', logistic_Reg)])

n_components = list(range(1, X.shape[1] + 1, 1))
C = np.logspace(-4, 4, 50)
penalty = ['l2']

parameters = dict(pca__n_components=n_components,
                  logistic_Reg__C=C,
                  logistic_Reg__penalty=penalty)

# Create the GridSearchCV object
clf_GS = GridSearchCV(pipe, parameters, scoring='accuracy', cv=5)

# Fit the GridSearchCV object to the data
clf_GS.fit(X, y)

# Print the best hyperparameters and the logistic regression model
print('Best Number Of Components:', clf_GS.best_estimator_.get_params()['pca__n_components'])
print('Best Penalty:', clf_GS.best_estimator_.get_params()['logistic_Reg__penalty'])
print('Best C:', clf_GS.best_estimator_.get_params()['logistic_Reg__C'])
print()
print(clf_GS.best_estimator_.get_params()['logistic_Reg'])

Best Number Of Components: 10
Best Penalty: l2
Best C: 0.02811768697974228

LogisticRegression(C=0.02811768697974228)

In [68]:
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression

# Using the best hyperparameters from the grid search
best_n_components = 10
best_penalty = 'l2'
best_C = 0.02811768697974228

# Creating the pipeline
pipeline = Pipeline([
    ('std_slc', StandardScaler()),
    ('pca', PCA(n_components=best_n_components)),
    ('logistic_Reg', LogisticRegression(C=best_C, penalty=best_penalty))
])

# Fit the model to the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test set
y_pred = pipeline.predict(X_test)

In [69]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Evaluate the model on the test set
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

# Print the results
print(f'Accuracy: {accuracy}')
print(f'Confusion Matrix:\n{conf_matrix}')
print(f'Classification Report:\n{classification_rep}')

Accuracy: 0.9
Confusion Matrix:
[[24  4]
 [ 2 30]]
Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.86      0.89        28
           1       0.88      0.94      0.91        32

    accuracy                           0.90        60
   macro avg       0.90      0.90      0.90        60
weighted avg       0.90      0.90      0.90        60

In [70]:
from sklearn.metrics import confusion_matrix, classification_report

# Predictions (y_pred) and actual labels (y_test)
y_pred = clf_GS.predict(X_test)

# Analyze the confusion matrix
TN, FP, FN, TP = conf_matrix.ravel()

# True Positive Rate (Recall)
sensitivity = TP / (TP + FN)
print(f"True Positive Rate (Recall): {sensitivity:.2f}")

# True Negative Rate (Specificity)
specificity = TN / (TN + FP)
print(f"True Negative Rate (Specificity): {specificity:.2f}")

# Precision
precision = TP / (TP + FP)
print(f"Precision: {precision:.2f}")

# F1 Score
f1_score = 2 * (precision * sensitivity) / (precision + sensitivity)
print(f"F1 Score: {f1_score:.2f}")

# Classification Report
print("Classification Report:")
print(classification_report(y_test, y_pred))

True Positive Rate (Recall): 0.94
True Negative Rate (Specificity): 0.86
Precision: 0.88
F1 Score: 0.91
Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.86      0.89        28
           1       0.88      0.94      0.91        32

    accuracy                           0.90        60
   macro avg       0.90      0.90      0.90        60
weighted avg       0.90      0.90      0.90        60

In [71]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Creating a decision tree classifier
classifier = DecisionTreeClassifier(random_state=42)

# (5-fold) Method
k_folds = 5

# Creating a stratified k-fold object
stratified_kfold = StratifiedKFold(n_splits=k_folds, shuffle=True, random_state=42)

# Perform k-fold cross-validation
cv_scores = cross_val_score(classifier, X, y, cv=stratified_kfold, scoring='accuracy')

# Print the cross-validation scores
print("Cross Validation Scores: ", cv_scores)
print("Average CV Scores: ", cv_scores.mean())
print("Number of CV Scores used in average: ", len(cv_scores))

Cross Validation Scores:  [0.81666667 0.74576271 0.71186441 0.6779661  0.71186441]
Average CV Scores:  0.732824858757062
Number of CV Scores used in average:  5

In [72]:
# Creating a decision tree classifier
classifier = DecisionTreeClassifier(random_state=42)

# (5-fold) Method
k_folds = 10

# Creating a stratified k-fold object
stratified_kfold = StratifiedKFold(n_splits=k_folds, shuffle=True, random_state=42)

# Perform k-fold cross-validation
cv_scores = cross_val_score(classifier, X, y, cv=stratified_kfold, scoring='accuracy')

# Print the cross-validation scores
print("Cross Validation Scores: ", cv_scores)
print("Average CV Scores: ", cv_scores.mean())
print("Number of CV Scores used in average: ", len(cv_scores))

Cross Validation Scores:  [0.66666667 0.86666667 0.63333333 0.76666667 0.7        0.76666667
 0.79310345 0.65517241 0.72413793 0.68965517]
Average CV Scores:  0.7262068965517241
Number of CV Scores used in average:  10

In [73]:
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

X = df1.drop('target', axis=1)
y = df1['target']

# Logistic Regression hyperparameter tuning
logistic_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('pca', PCA()),
    ('classifier', LogisticRegression())
])

logistic_param_grid = {
    'pca__n_components': list(range(1, X.shape[1] + 1)),
    'classifier__C': np.logspace(-4, 4, 50),
    'classifier__penalty': ['l2']
}

logistic_grid_search = GridSearchCV(logistic_pipeline, logistic_param_grid, scoring='accuracy', cv=5)
logistic_grid_search.fit(X, y)

# Decision Tree hyperparameter tuning
dt_pipeline = Pipeline([
    ('classifier', DecisionTreeClassifier())
])

dt_param_grid = {
    'classifier__max_depth': [3, 5, 7, 10],
    'classifier__min_samples_split': [2, 5, 10],
    'classifier__min_samples_leaf': [1, 2, 4]
}

dt_grid_search = GridSearchCV(dt_pipeline, dt_param_grid, scoring='accuracy', cv=5)
dt_grid_search.fit(X, y)

# Cross-validation scores
logistic_cv_scores = cross_val_score(logistic_grid_search.best_estimator_, X, y, cv=5)
dt_cv_scores = cross_val_score(dt_grid_search.best_estimator_, X, y, cv=5)

# Compare and justify the choice based on average cross-validation scores
avg_logistic_cv_score = logistic_cv_scores.mean()
avg_dt_cv_score = dt_cv_scores.mean()

print(f'Average Logistic Regression CV Score: {avg_logistic_cv_score}')
print(f'Average Decision Tree CV Score: {avg_dt_cv_score}')

# Compare and justify the choice based on average scores
if avg_logistic_cv_score > avg_dt_cv_score:
    print('Logistic Regression performs better.')
else:
    print('Decision Tree performs better.')

Average Logistic Regression CV Score: 0.8581920903954803
Average Decision Tree CV Score: 0.8074576271186441
Logistic Regression performs better.